{{> header }}

    <div class="jumbotron">
    	<h3 class="display-3">{{#if isEmpty}}No new applicants. Bless up fam{{else}}Oh you got some new people bruh bruh{{/if}}</h3>
    </div>

<form method="POST" action="/applicants">
	<div class="form-group">
		<input type="radio" name="acceptDeny" value="accept" onclick="changeDefaultText(this.value)">Accept
		<input type="radio" name="acceptDeny" value="deny" onclick="changeDefaultText(this.value)">deny<br>
		
			{{#users}}
			<li>
		    <label for="{{username}}">{{username}}</label> 
		    <input type="checkbox"   name="usersCheck" id="{{username}}" value="{{username}}"  onchange="showCommentBoxes(this,this.id)">
		    </li>

		    <textarea class="textbox" id ="{{username}}ReasonMessage" name = "reasonMessage" style="display:none" rows="5" cols="20" placeholder="Please give some reasoning"></textarea>

			{{/users}}


		<input type="submit" value="submit"/>
	</div>

      <footer class="footer">
        <p>&copy; _Meet 2017</p>
      </footer>

    </div> <!-- /container -->

	<script>
		function changeDefaultText(approvalChoice) {
			
			if (approvalChoice == 'accept'){
				document.getElementsByClassName('textbox').value="accpet";
				console.log(document.getElementsByClassName('textbox').value);
			}
			else if (approvalChoice == 'deny'){
				document.getElementsByClassName('textbox').value="deny";
				console.log(document.getElementsByClassName('textbox').value);
			}
		}
	</script>

	<script>
  	function showCommentBoxes(checkboxElem,checkboxName) {
	  	if (checkboxElem.checked) {
			document.getElementById(checkboxName+'ReasonMessage').style.display = 'block';;
		} else {
			document.getElementById(checkboxName+'ReasonMessage').style.display = 'none';
		}
	}
  </script>
  </body>
</html>
