{{> header }}
{{#if userError}}
  <div class="alert alert-danger">
    {{userError}}
  </div>
{{/if}}
      <div class="jumbotron">
        <h1 class="display-3">Welcome to _Meet</h1>
        <p class="lead">Meet is a platform to connect clients and developers, fosters professional relationships, 
        efficiency, and accountability. Join today to gain access to a large pool of existing projects or create your own.</p>
        <p><a class="btn btn-lg btn-success" href="/register" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Top Rated Users</h4>
          {{#if toprated}}

            {{#each toprated}}
              <p>{{number}}. {{name}} : {{rating}}</p>
              <p></p>
            {{/each}}

          {{else}}    
            <p>Not enough users to fill in list yet!</p>
          {{/if}}      
        </div>

        <div class="col-lg-6">

          <h4>Clients with most projects</h4>
          {{#if topjobs}}
            {{#each topjobs}}
              <p>{{number}}. {{name}} : {{numjobs}}</p>
              <p></p>
            {{/each}}

          {{ else }}    
            <p>Not enough users to fill in list yet!</p>
          {{/if}}      
        </div>

        </div>
      </div>


      {{> footer }}
    </div> <!-- /container -->

  </body>

</html>
